# .svn dirs of git
.git/
# .svn dirs of subversion
.svn/
# desktop services store file on mac os x
\.DS_Store
# jedit backup files
\#*#
# emacs backup files
*~
# vi backup files
*.swp
# jedit marker files
\.*.marks
# unix user trash dirs
.Trash-*/
# merge conflict files
*\.orig
# phpstorm project files
.idea
#eclipse stuff
\.project
\.buildpath
.settings/

### eZp related //start
ezp/ezpublish_legacy/var
ezp/ezpublish_legacy/extension/ezpedia/settings/settings/override/site.ini
ezp/ezpublish_legacy/extension/ezpedia/settings/settings/override/solr.ini
ezp/ezpublish_legacy/extension/ezpedia/settings/settings/override/nxcsocialnetworks.ini
ezp/ezpublish_legacy/extension/ezfind/java/logs
ezp/ezpublish_legacy/extension/ezpedia/sql/ezpedia.dump.auto.sql
ezp/ezpublish_legacy/extension/ezpedia/sql/ezpedia.dump.auto.sql.tar.gz
ezp/ezpublish_legacy/sitemap_en.xml
ezp/ezpublish_legacy/download
### eZp related //end
