div.calendar
{
    border: 1px outset;
    background-color: #fff;
}

table.calendar-navigator
{
    width: 100%;
}

tr.calendar-days td
{
    text-align: center;
}

td.calendar-day-today a
{
    color: green;
}

td.calendar-day-current a
{
    font-weight: bold;
}

td.calendar-day-current-today a
{
    color: green;
    font-weight: bold;
}

span.rss-link {
    float: right;
    position: relative;
    top: -7px;
}
